<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basics</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="angularjs/angular.min.js"></script>
    <script src="script/bootstrap.js"></script>
    <script src="script/jquery.js"></script>
    <script src="script/popper.js"></script>
    <script src="script/aj.js"></script>
</head>
<body ng-app="myModule" ng-controller="dataController">
   <!-- <div ng-controller="firstController">
    <h1>{{message}}</h1>
   </div> -->
       
    <table style="width: 500px; border:2px solid turquoise">
        <!-- <input type="text" placeholder="Enter text to search" ng-model="searchText"> -->
        <thead>
            <tr style="text-align: left;">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody  style="color: tomato;">
            <!-- <tr ng-repeat="employee in employees | filter:searchText | orderBy:'firstName'"> -->
            <tr ng-repeat="employee in employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.salary}}</td>
            </tr>
        </tbody>
    </table>

</body>
</html>