<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basics</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="angularjs/angular.min.js"></script>
    <script src="script/bootstrap.js"></script>
    <script src="script/jquery.js"></script>
    <script src="script/popper.js"></script>
</head>
<body>
    <h1>understanding of directive:-</h1>
    <div class="container" ng-app="">
        <form >
            <div class="form-group">
                <label for="">First Name</label>
                <input type="text" class="form-control" ng-model="firstname">
            </div>
            <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" class="form-control" ng-model="lastname">
            </div>
            <div class="form-group">
                <label for="">Quantity</label>
                <input type="text" class="form-control" ng-model="quantity">
            </div>
            <div class="form-group">
                <label for="">Cost</label>
                <input type="text" class="form-control" ng-model="cost">
            </div>
            <button type="button" class="btn btn-primary" ng-click="message=firstname + ' ' + lastname + ' ' + 
            'has to pay' + cost * quantity ">Click Here !</button>
            <h2>{{message}}</h2>
        </form>
    </div>
</body>
</html>



