<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basics</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="angularjs/angular.min.js"></script>
    <script src="script/bootstrap.js"></script>
    <script src="script/jquery.js"></script>
    <script src="script/popper.js"></script>
</head>
<body>
    
    <div class="container" ng-app="">
        <form name="myForm">
            <h2>My Form</h2>
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" id="firstname" class="form-control" ng-model="firstname" required>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" id="lastname" class="form-control" ng-model="lastname" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" ng-model="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="password" required> 
            </div>
            <button type="button" class="btn btn-primary">Submit</button>
            
        </form>
    </div>
</body>
</html>